<%= form_with(model: note) do |form| %>
  <% if note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>
      <ul>
        <% note.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field mb-3">
    <h5 class="mb-3 my-0 fw-normal"><%= form.label :note_name %></h5>
    <%= form.text_field :note_name %>
  </div>
  <div class="field mb-3">
    <h5 class="my-0 mb-3 fw-normal"><%= form.label :note_entry %></h5>
    <%= form.text_area :note_entry %>
  </div>
  <div class="actions">
    <%= form.submit class: "btn btn-outline-primary btn-sm"%>
  </div>
<% end %>
