<div class="row row-cols-1 row-cols-md-3 mb-3">
    <% @notes.each do |note| %>
      <div class="col">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 fw-normal text-center"><%= note.note_name %></h4>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <li><%= note.note_entry %></li>
            </ul>
              <div class="row row-cols-1 row-cols-md-5 mb-3">
                <p><%= link_to 'Edit', edit_note_path(note), class: "btn btn-outline-primary btn-sm" %></p>
                <%= button_to 'Delete', note, class: "btn btn-outline-primary btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
              <p class="font-italic">Created <%= time_ago_in_words(note.created_at) %> ago</p>
          </div>
        </div>
      </div>
    <% end %>
</div>
