<h2>New Note</h2>
<div class="row row-cols-1 row-cols-md-3 mb-3">
      <div class="col">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <li><%= render 'form', note: @note %></li>
            </ul>
              <div class="mb-3">
                <%= link_to 'Cancel', notes_path, class: "btn btn-outline-primary btn-sm" %>
              </div>
          </div>
        </div>
      </div>
</div>
