<div class="row row-cols-1 row-cols-md-3 mb-3">
      <div class="col">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <h5 class="my-0 mb-2 fw-normal">Note name:</h5>
              <li><%= @note.note_name %></li>
              <h5 class="my-0 mb-2 fw-normal">Note entry:</h5>
              <li><%= @note.note_entry %></li>
            </ul>
              <div class="mb-3">
                <%= link_to 'Edit', edit_note_path(@note), class: "btn btn-outline-primary btn-sm" %>
              </div>
              <div class="mb-3">
                <%= link_to 'Back', notes_path, class: "btn btn-outline-primary btn-sm" %>
              </div>
          </div>
        </div>
      </div>
</div>
