<!DOCTYPE html>
<html>
  <head>
    <title>QuickNotes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render "shared/header"%>
    <% if notice.present? %>
      <div class="alert alert-success" role="alert"><%= notice%></div>
    <% end %>
    <% if alert.present? %>
      <div class="alert alert-danger" role="alert"><%= notice%></div>
    <% end %>
    <main class="container">
    <%= yield %>
  </body>
</html>
